body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  line-height: 1.85;
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #e8ffff;
  padding-top: 100px;
  position: relative;
}

.middle-container {

}

.bottom-container {

}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
  margin: 5px;
}
