body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  position: relative;
}

h1 {
  line-height: 1.85;
  color: #ff6f3c;
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #ff6f3c;
  font-weight: normal;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #ff9a3c;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  margin: 100px auto;
  color: #dbedf3;
  border-style: dotted;
  border-bottom: none;
  border-width: 8px;
  width: 4%;
}

.text-profile {
  width: 30%;
  margin: auto;
}

.skill-row {
  padding: 2%;
  text-align: left;
  margin: 100px auto 100px;
  width: 50%;
}

.img-videogame {
  width: 37%;
  border-radius: 200px;
  float: right;
  margin-left: 30px;
}

.img-programming {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.top-container {
  background-color: #155263;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  position: relative;
}

/*Mexe com a parte da foto do perfil*/
.profile {
  padding-top: 50px;
}

/*Mexe com o rodape do site*/
.bottom-container {
  height: 150px;
  background-color: #283149;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.contact-me {
  line-height: 2;
}

.mybutton {
  margin-top: 20px;
  margin-bottom: 60px;
  background: linear-gradient(to bottom, #404b69 2%, #283149 100%);
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 5px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966
}

.mybutton:hover {
  background: linear-gradient(to bottom, #283149 5%, #404b69 100%);
}

.mybutton:active {
  top: 1px;
  position: relative;
}

.footer-link {
  position: relative;
  top: 30%;
  left: 1%;
  margin-right: 30px;
  text-decoration: none;
  color: #ff9a3c;
}

.footer-link:hover {
  color: #f3eac2;
}

.p-bottom {
  position: relative;
  top: 40%;
  color: #EAF6F6;
  font-size: 0.75rem;
}
